*{margin: 0px;padding: 0px;border: none;}
.clear{clear: both;}
li{list-style: none;}
a{text-decoration: none;color: #ccc;cursor:pointer;}
/*头部, 躯干宽度设定*/
.header,.trunk{width: 100%}
/*头部边框, 高度设定*/
.header{height: 100px;border-bottom:  2px solid #ff6700;}
/*躯干背景颜色和溢出设定*/
.trunk{background-color:#f5f5f5;overflow: hidden;}
/*内容总宽度, 居中设定*/
.header>.content,.trunk>.cart,.trunk>.recommend{width: 1226px;margin:0 auto;}.cart{padding-top: 38px;}

.header .content-left{float: left;}
.header .content-right{float: right;}
.header .logo,
.header .title,
.header .notice,
.header .userinfo,
.header .toOrderDetail{float: left;margin-top: 26px;}
.header .logo{width: 48px;height: 48px;margin-right:45px;background: url('../img/footlogo.png') center center;}
.header .title{font-size: 28px;line-height: 48px; margin-right: 15px;font-weight: 400;color:#424242;}
.header .notice{font-size:12px;line-height: 48px;margin-top: 32px;font-weight: 400;color: #757575;}
.header .userinfo{width: 120px;line-height: 48px;margin-top:28px;font-size: 12px;color:#757575;position: relative;}
.header .toOrderDetail{line-height: 48px;margin-top:28px;font-size:12px; color:#757575;}
.userinfo .username a,
.header .toOrderDetail a{color:#757575;}


.userinfo .username ul{position:absolute;width: 120px;padding:7px 0;display:none;background-color: #fff;margin-left: -10px;text-align: center;box-shadow:0 2px 10px rgba(0,0,0,0.15)}
.userinfo .username li{height: 30px;width: 100%;color:#757575;line-height: 30px;}
.userinfo :hover ul{display:block;}
.userinfo .username li:hover{color:#ff6700;background-color:#f5f5f5;}
.userinfo i{position:absolute;top:20px;right:20px;}

.userinfo :hover a,
.userinfo :hover i{color:#ff6700;}

.cart>.list{background-color: #fff;overflow: hidden;}
.list div{float: left;}
.cart .select{width: 110px;text-align: center;}
.cart .select i{font-size:13px;  display:inline-block;height: 15px;width:15px;line-height: 15px;background-color:#fff;color:rgba(0,0,0,0);border:1px solid #e0e0e0;margin:0 15px 0 24px;cursor: pointer;}
/*.cart .select i:hover{color:#757575}*/
.cart .select .checked{color:#fff;background-color: #ff6700;border:1px solid #ff6700;}
.cart .good-img{width: 120px;cursor: pointer;}
.cart .good-img img{width: 60px;height: 60px;margin-top: 15px;}
.cart .good-name{width: 380px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;cursor: pointer;font-size: 17px;color: #424242;}
.cart .good-price{width:75px;padding-right: 84px;text-align: right;}

.cart .good-num{width: 150px;text-align: center;}
.good-num .num-input{padding:0;margin-top:24px;width: 150px;height: 40px;border:1px solid #e0e0e0;padding-top: 1px;}
.num-input button{width: 38px;height:38px;text-align: center;line-height: 38px;color:#757575;background-color:#fff;font-size: 20px;}
.num-input button:hover{background-color: #e0e0e0}
.num-input .minus{float: left;}
.num-input .plus{float: right;}
.num-input .num-value{float: left; width: 72px;height: 38px;text-align: center;font-size: 16px;}

.cart .good-total-price{width: 120px;padding-right: 81px;text-align: right;color: #FF6A00;}
.cart .operation{width: 80px;padding-right: 26px;text-align: center;}
.cart .operation i{display:inline-block;width: 20px;height: 20px;border-radius: 10px;color:#757575;line-height: 20px;font-size: 12px; }
.cart .operation i:hover{background-color: #F07474;color:#fff;cursor: pointer;}

.list-title div{height: 70px;line-height: 70px;font-size: 14px;}
.list-item div{height: 86px;padding:15px 0;line-height: 86px;border-top:1px solid #e0e0e0;}
.list-total{margin: 20px 0px;height: 50px;line-height: 50px;font-size:14px;}
.list-total .list-total-left{float: left;}
.list-total .list-total-right{float: right;}
.list-total-left .notice{margin-left: 32px;font-size: 12px;background-color:#fff;color: #424242;}
.list-total-left .notice a{color: #424242;font-size: 14px;}
.list-total-left .statistics{margin-left: 16px;padding-left: 16px;font-size: 12px;border-left: 1px solid #eee;color: #424242;font-size: 14px;}
.statistics span{color:#FF6A00;}
.list-total-right .total-price{float: left;font-size: 14px;color: #ff6700}
.list-total-right .total-price .sum-price{font-size: 24px;}
.list-total-right .submit-cart{float: right;height:50px;width: 200px;background-color:#ff6700;color:#fff;font-size: 18px;margin-left: 60px;}

/*商品推荐*/
.recommend{position: relative;border-top:1px solid #ccc;height: 40px;}
.recommend p{font-size: 31px;color: #757575;background: #F5F5F5;width:460px;height: 40px;position: absolute;top: -20px; left:380px;text-align: center;}

.content-bottom{background:#F5F5F5;padding-bottom:60px; }
.content-bottom1{width: 1226px; margin:0px auto;  }
.content-bottom1_shop{height: 614px;width: 1226px;margin-top: 10px;}
.content-bottom1_shop1{height: 614px;width:234px;background: url(../img/buy/手机AD.jpg);margin-right:10px;float:left;}
.content-bottom1_shop2{height: 614px;width:982px;float:left;}
.content-bottom1_1 div{height:300px;width: 235px;}
.content-bottom1_a{margin-right:12.7px;background:#ccc;float: left;}
.content-bottom1_b{margin-right:12.7px;background:#ccc;float: left;}
.content-bottom1_c{margin-right:12.7px;background:#ccc;float: left;}
.content-bottom1_d{background:#ccc;float: left;}
.content-bottom1_2 div{height:300px;width: 235px;margin-top: 14px;}
.content-bottom1_e{margin-right:12.7px;background:#ccc;float: left;}
.content-bottom1_f{margin-right:12.7px;background:#ccc;float: left;}
.content-bottom1_g{margin-right:12.7px;background:#ccc;float: left;}
.content-bottom1_h{background:#ccc;float: left;}