body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}

a{
    text-decoration: none;
}

/* 淘宝清除浮动的方法 */
.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}

.site-topbar{
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background-color: #333;
}

.container{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    /* background-color: #bfa; */
}

.topbar-nav{
    position: relative;
    float: left;
    height: 100%;
}

.topbar-nav .nofollow{
    float: left;
    height: 100%;
    line-height: 40px;
}

.topbar-nav a{
    display: block;
    color: #b0b0b0;
}

.topbar-nav .sep{
    float: left;
    padding-top: 10px;
    margin: 0.3em;
    color: #424242;
}

.topbar-cart{
    position: relative;
    float: right;
    width: 120px;
    height: 100%;
    margin-left: 15px;
    line-height: 40px;
    background: #424242;
}

.topbar-cart a{
    display: block;
    color: #b0b0b0;
    background: #424242;
    text-align: center;
}

.topbar-cart .iconfont-cart{
    font-size: 15px;
}

.topbar-info{
    position: relative;
    float: right;
}

.topbar-info li{
    float: left;
    margin: 0 2px;
}

.topbar-info span{
    float: left;
    padding-top: 13px;
    color: #424242;
}

.topbar-info a{
    display: block;
    line-height: 40px;
    color: #b0b0b0;
}