body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}

a{
    text-decoration: none;
}

/* 淘宝清除浮动的方法 */
.clearfix::after,
.clearfix::before{
    content: '';
    display: table;
    clear: both;
}

.site-topbar{
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background-color: #333;
}

.container{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    /* background-color: #bfa; */
}

.topbar-nav{
    position: relative;
    float: left;
    height: 100%;
}

.topbar-nav .nofollow{
    float: left;
    height: 100%;
    line-height: 40px;
}

.topbar-nav a{
    display: block;
    color: #b0b0b0;
}

.topbar-nav .sep{
    float: left;
    padding-top: 10px;
    margin: 0.3em;
    color: #424242;
}

.topbar-cart{
    position: relative;
    float: right;
    width: 120px;
    height: 100%;
    margin-left: 15px;
    line-height: 40px;
    background: #424242;
}

.topbar-cart a{
    display: block;
    height: 100%;
    color: #b0b0b0;
    background: #424242;
    text-align: center;
}

.topbar-cart .iconfont-cart{
    font-size: 15px;
}

.topbar-info{
    position: relative;
    float: right;
}

.topbar-info li{
    float: left;
    margin: 0 2px;
}

.topbar-info span{
    float: left;
    padding-top: 13px;
    color: #424242;
}

.topbar-info a{
    display: block;
    line-height: 40px;
    color: #b0b0b0;
}

.site-header{
    z-index: 20;
    height: 100px;
}

.header-logo{
   float: left; 
   width: 62px;
   margin-top: 22px;
}
.header-logo .logo{
    position: relative;
    display: block;
    width: 56px;
    height: 56px;
    overflow: hidden;
    text-indent: -9999px;
}
.header-logo .logo::after,
.header-logo .logo::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url('../image/logo-mi2.png')no-repeat;
    background-size: 56px;
    transform: translateZ(0);
}

.header-nav{
    height: 100%;
    float: left;
    margin-left: 150px;
}

.nav-list{
    position: relative;
    float: left;
    font-size: 16px;
    padding: 12px 0 0 30px;
    height: 88px;
    z-index: 10;
}

.nav-list li{
    float: left;
}

.nav-list a{
    display: block;
    padding: 26px 12px 38px;
    color: #333;
}


.header-search{
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
    overflow: hidden;
}

.header-search .search-form{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.header-search .search-text{
    outline: 0;
    border: 1px solid #e0e0e0;
    width: 245px;
    height: 50px;
    font-size: 14px;
    line-height: 48px;
    padding: 0 10px;
}

.header-search .search-btn{
    position: absolute;
    width: 38px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    border:1px solid #e0e0e0;
    border-left: none;
    text-align: center;
    padding: 1px 6px;
    background: #fff;
    color: #616161;
}